.container {
    display: flex;
    justify-content: space-between;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root{
    background-color: rgba(122, 33, 156, 0.836)!important;
}

.css-3zof8s-MuiTypography-root{
    margin-right: 10rem!important;
}